version = 0.27.0
profile = default
margin = 80
exp-grouping = preserve
max-indent = 68
wrap-comments = true
wrap-fun-args = true
let-binding-spacing = compact
field-space = loose
sequence-style = separator
doc-comments = before
break-cases = fit
break-infix = fit-or-vertical
break-fun-decl = fit-or-vertical
break-fun-sig = fit-or-vertical
cases-exp-indent = 2
cases-matching-exp-indent = normal
function-indent = 2
function-indent-nested = never
if-then-else = compact
indicate-nested-or-patterns = unsafe-no
leading-nested-match-parens = true
nested-match = wrap
parens-tuple = always
parens-tuple-patterns = multi-line-only
single-case = compact
space-around-arrays = true
space-around-lists = true
space-around-records = true
space-around-variants = true
type-decl = sparse
assignment-operator = end-line
break-sequences = true
break-string-literals = auto
comment-check = true
disable = false
max-iters = 10
quiet = false
